Standard: Cpp11
BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Attach
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 2